<div id="simresults">
  <% if @categories.present? %>
    <div style="text-align: center;">
      <% @categories.each do |same_category| %>
        <div class="mini_simbox" id="mini_simbox_<%= same_category.id %>" style="cursor: pointer;">
          <a><%= same_category.company_name %></a>
          <br />
          <%= same_category.address %>
          <br />
          <%= same_category.city %>, <%= link_to "Csv", imports_path(:format => 'csv') %>
          <br />
          <%= number_to_phone(same_category.phone) %>
          <br />
        </div>
        <script>
          $('#mini_simbox_<%=same_category.id%>').click(function() {
            window.location.href = '<%= categorie_search_businesses_path('company_name' => same_category.company_name, :city => same_category.city, :address => same_category.address) %>';
          });

          $(function() {
            $(".pagination a").click(function() {
              $.getScript(this.href);
              return false;
            });
          });
        </script>
      <% end %>
      <div style="clear:both;text-align:right;font-size:14px;padding:10px; padding-right:150px;">
      </div>
    </div>
    <div style="float: right;left: -40px;position: relative;top: -25px;">
      <%= will_paginate @categories, :param_name => 'category_page', :page_links => false, :previous_label => 'Prev', :next_label => "Next" %>
    </div>
  <% else %>
    <p style="text-align: center;">Sorry. There are no similar businesses open right now.</p>
  <% end %>
</div>
