<table cellspacing="2" cellpadding="3" style="font-size: 14px;font-weight: bold;font-size: 18px;text-align: left;font-weight: bold;color:#007D8F;font-family: 'House Slant'">
  <tbody>
    <tr>
      <td style="text-align: right;"><%= f.label :company_name, "BUSINESS NAME:" %></td>
      <td><%= f.text_field :company_name, :class => 'text',:size => '20', 'data-autosize-input' =>  '40' %></td>
    </tr>
    <tr>
      <td style="text-align: right;"><%= f.label :address, "ADDRESS:" %></td>
      <td><%= f.text_field :address, :class => 'text',:size => '20', 'data-autosize-input' =>  '40' %></td>
    </tr>
    <tr>
      <td style="text-align: right;"><%= f.label :city, "CITY:" %></td>
      <td><%= f.text_field :city, :class => 'text',:size => '20', 'data-autosize-input' =>  '40' %></td>
    </tr>
    <tr>
      <td style="text-align: right;"><%= f.label :state, "PROVINCE:" %></td>
      <td><%= f.select :state,options_for_select(STATES, :selected => f.object.state) %></td>
    </tr>
    <% if @business.new_record? %>
      <tr>
        <td style="text-align: right;"><%= f.label :category, "CATEGORY:" %></td>
        <td><%= f.select :category, options_for_select([["Select", ""]]+Business.select("DISTINCT category").where("category IS NOT NULL").map{|c| [c.category]}, :selected => f.object.category) %></td>
      </tr>
    <% end %>
    <tr>
      <td style="text-align: right;"><%= f.label :longitude, "LONGITUDE:" %></td>
      <td><%= f.text_field :longitude, :class => 'text',:size => '20', 'data-autosize-input' =>  '40' %></td>
    </tr>
    <tr>
      <td style="text-align: right;"><%= f.label :latitude, "LATITUDE" %></td>
      <td><%= f.text_field :latitude, :class => 'text',:size => '20', 'data-autosize-input' =>  '40' %></td>
    </tr>
    <tr>
      <td style="text-align: right;"><%= f.label :phone, "PHONE NUMBER:" %></td>
      <td><%= f.text_field :phone, :class => 'text',:size => '20', 'data-autosize-input' =>  '40' %></td>
    </tr>
    <tr>
      <td style="text-align: right;"><%= f.label :url, "WEBSITE URL:" %></td>
      <td><%= f.text_field :url, :class => 'text',:size => '20', 'data-autosize-input' =>  '40' %></td>
    </tr>
  </tbody>
</table>
<table width="100%" cellpadding="5" style="font-size: 14px;position: relative;left: 55px;">
  <tbody>
    <tr>
      <td style="text-align: right;">Mon:</td>
      <td><%= f.text_field :mon_from, :id => 'time1', :size => '4' %>-<%= f.text_field :mon_to, :id => 'time2', :size => '4' %> <%= f.check_box :mon_closed, :value => "Closed" %>Closed</td>
    </tr>
    <tr>
      <td style="text-align: right;">Tue:</td>
      <td><%= f.text_field :tue_from, :id => 'time3', :size => '4' %>-<%= f.text_field :tue_to, :id => 'time4', :size => '4' %> <%= f.check_box :tue_closed, :value => "Closed" %>Closed</td>
    </tr>
    <tr>
      <td style="text-align: right;">Wed:</td>
      <td><%= f.text_field :wed_from, :id => 'time5', :size => '4' %>-<%= f.text_field :wed_to, :id => 'time6', :size => '4' %> <%= f.check_box :wed_closed, :value => "Closed" %>Closed</td>
    </tr>
    <tr>
      <td style="text-align: right;">Thu:</td>
      <td><%= f.text_field :thu_from, :id => 'time7', :size => '4' %>-<%= f.text_field :thu_to, :id => 'time8', :size => '4' %> <%= f.check_box :thu_closed, :value => "Closed" %>Closed</td>
    </tr>
    <tr>
      <td style="text-align: right;">Fri:</td>
      <td><%= f.text_field :fri_from, :id => 'time9', :size => '4' %>-<%= f.text_field :fri_to, :id => 'time10', :size => '4' %> <%= f.check_box :fri_closed, :value => "Closed" %>Closed</td>
    </tr>
    <tr>
      <td style="text-align: right;">Sat:</td>
      <td><%= f.text_field :sat_from, :id => 'time11', :size => '4' %>-<%= f.text_field :sat_to, :id => 'time12', :size => '4' %> <%= f.check_box :sat_closed, :value => "Closed" %>Closed</td>
    </tr>
    <tr>
      <td style="text-align: right;">Sun:</td>
      <td><%= f.text_field :sun_from, :id => 'time13', :size => '4' %>-<%= f.text_field :sun_to, :id => 'time14', :size => '4' %> <%= f.check_box :sun_closed, :value => "Closed" %>Closed</td>
    </tr>
    <tr>
      <td></td>
      <td>
        <% if @business.new_record? %>
          <div><%= f.submit "Save", :id => "save_button" %></div>
        <% else %>
          <div style="position: relative;left: -45px;"><button type="submit" value="Save" style="background: none; border: none;cursor: pointer;"><%=  image_tag("/assets/Edit Button.png", :border=>'0', :width=>"261", :height=>"54") %></button></div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<script>
  $("#time1, #time2, #time3, #time4, #time5, #time6, #time7, #time8, #time9, #time10, #time11, #time12, #time13, #time14").timePicker({
    startTime: "00:00", // Using string. Can take string or Date object.
    endTime: new Date(0, 0, 0, 23, 45, 0), // Using Date object here.
    show24Hours: false,
    separator: ':',
    step: 30
  });

  $(document).ready(function() {
    $('body').removeClass('open').addClass('cont');
    $('#main').css({'min-height': 0, 'background-color': ''});
  })
</script>
<style>
  .footer{
    display: none;
  }
</style>