<% if @locations.present? %>
  <% @locations.each do |same_category| %>
    <div class="otherResults" id="location_<%= same_category.id %>">
      <div id="main_id1">
        <div class="spacedout">
          <div class="loc_name"><%= same_category. company_name %></div>
          <br />
          <%= same_category.address %>
          <br />
          <%= same_category.city %>, <%= same_category.state %>
          <br />
          <div class="primephone"><%= number_to_phone(same_category.phone) %></div>
          <br />
        </div>
      </div>
    </div>
    <script>
      $('#location_<%=same_category.id%>').click(function() {
        window.location.href = '<%= categorie_search_businesses_path('company_name' => same_category.company_name, :city => same_category.city, :address => same_category.address) %>';
      });
    </script>
  <% end %>
  <div style="float: right;left: -25px;position: relative;">
    <%= will_paginate @locations, :param_name => 'location_page', :page_links => false, :previous_label => 'Prev', :next_label => "Next" %>
  </div>
<% end %>
<script>
  $(function() {
    $(".pagination a").click(function() {
      $.getScript(this.href);
      return false;
    });
  });
</script>