<div class="search-part" style="height: 70px;">
  <div style="position: relative;width: 210px;">
    <form id="cityForm" method="post">
      <input id="city_stater" class="city_state" value="<%= session[:city] %>" onblur="onBlur(this)" onfocus="onFocus(this)" type="text" style="color: #C5C5C5;top: 2px;"/>
    </form>
    <div id="ajaxcity" style="margin-left:35px;width:120px;border:solid 1px #999;display: none;height: 200px;overflow: auto;"></div>
  </div>
  <div class="searchContainer" style="left: 212px;position: relative;top: -46px;width: 338px;">
    <%= form_for(:business, :url => search_businesses_path, :html => {:method => "GET", :id => "searchForm",:autocomplete => "off"}) do |f| %>
      <table style="margin: auto;">
        <tbody>
          <tr>
            <td class="home-search">
              <%= f.text_field :name,:class=>"textField1",:id => "keywords", :value => 'Enter business name',:onblur => "onBlur(this)", :onfocus => "onFocus(this)",:size => "60px", :style=>"color:#aaa;margin:0px;text-align: center;top: -4px;" %>
              <button type="submit" style="background: none; border: none;left: 272px;position: relative;top: -50px;"><%= image_tag("/assets/search_icon.png", :class => 'search-icon') %></button>
            </td>
          </tr>
          <tr>
            <td>
              <div id="ajaxresults" style="display:none;top: 45px;height: 200px;overflow: auto;"></div>
            </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
<script type="text/javascript">

  jQuery(document).ready(function($) {
    if($("#city_stater").val() == ''){
      $("#city_stater").val(geoplugin_city()+ ","+ geoplugin_regionCode());
    }else{
      $("#city_stater").val('<%= session[:city] %>'+ ","+" "+'<%= session[:state] %>');
    }
  });
  jQuery(document).ready(function($) {
    $("#city_stater").keyup(function(){
      var cit = $(this).val();
      $("#ajaxcity").fadeIn('slow');
      $.ajax({
        url:'/businesses/cities',
        data:{
          city:cit
        },
        type:'GET',
        datatype:'script',
        success:function(data){}
      });
      if(cit == ''){
        $("#ajaxcity").fadeOut('slow');
      }
    });

    $("#keywords").keyup(function(){
      var cit = $(this).val();
      $("#ajaxresults").fadeIn('slow');
      $.ajax({

        url:'/businesses/city_businesses',
        data:{
          name:cit
        },
        type:'GET',
        datatype:'script',
        success:function(data){}
      });
      if(cit == ''){
        $("#ajaxresults").fadeOut('slow');
      }
    });
  });
</script>