<div id="schedule0">
  <table cellspacing="2" cellpadding="8" style="font-size: 14px;font-weight: bold;">
    <tbody>
      <tr class="Mon">
        <td>
          <span class="day">Monday </span>
          <span class="val">
            <% if (business.mon_from == 'CLOSED' or business.mon_from == 'Closed' or business.mon_from.blank? or business.mon_to == 'Closed' or business.mon_to.blank?) %>
              <span class="border_time" id="Mon" style="position: relative;left: -20px;">
                Closed
              </span>
            <% else %>
              <span class="border_time" id="mon">
                <%= business.mon_from.split(/[:]/).first  %>
                <sup class="time_mi"><%= business.mon_from.split(/[: am pm AM PM]/).last %></sup>
              </span>
              <sup><%= business.mon_from.scan(/\d+|\D+/).last  %></sup>
              <span class="border_time" id="Mon">
                <%= business.mon_to.split(/[:]/).first  %>
                <sup class="time_mi"><%= business.mon_to.split(/[: am pm AM PM]/).last  %></sup>
              </span>
              <sup id="Mon_to"><%= business.mon_to.scan(/\d+|\D+/).last  %></sup>
            <% end %>
          </span>
        </td>
      </tr>
      <tr class="Tue">
        <td>
          <span class="day">Tuesday </span>
          <span class="val">
            <% if (business.tue_from == 'CLOSED' or business.tue_from == 'Closed' or business.tue_from.blank? or business.tue_to == 'Closed' or business.tue_to.blank?) %>
              <span class="border_time" id="Tue" style="position: relative;left: -20px;">
                Closed
              </span>
            <% else %>
              <span class="border_time" id="tue">
                <%= business.tue_from.split(/[:]/).first  %>
                <sup class="time_mi"><%= business.tue_from.split(/[: am pm AM PM]/).last %></sup>
              </span>
              <sup><%= business.tue_from.scan(/\d+|\D+/).last  %></sup>
              <span class="border_time" id="Tue">
                <%= business.tue_to.split(/[:]/).first  %>
                <sup class="time_mi"><%= business.tue_to.split(/[: am pm AM PM]/).last  %></sup>
              </span>
              <sup id="Tue_to"><%= business.tue_to.scan(/\d+|\D+/).last  %></sup>
            <% end %>
          </span>
        </td>
      </tr>
      <tr class="Wed">
        <td>
          <span class="day">Wednesday </span>
          <span class="val">
            <% if (business.wed_from == 'CLOSED' or business.wed_from == 'Closed' or business.wed_from.blank? or business.wed_to == 'Closed'  or business.wed_to.blank?) %>
              <span class="border_time" id="Wed" style="position: relative;left: -20px;">
                Closed
              </span>
            <% else %>
              <span class="border_time" id="wed">
                <%= business.wed_from.split(/[:]/).first  %>
                <sup class="time_mi"><%= business.wed_from.split(/[: am pm AM PM]/).last %></sup>
              </span>
              <sup><%= business.wed_from.scan(/\d+|\D+/).last  %></sup>
              <span class="border_time" id="Wed">
                <%= business.wed_to.split(/[:]/).first  %>
                <sup class="time_mi"><%= business.wed_to.split(/[: am pm AM PM]/).last  %></sup>
              </span>
              <sup id="Wed_to"><%= business.wed_to.scan(/\d+|\D+/).last  %></sup>
            <% end %>
          </span>
        </td>
      </tr>
      <tr class="Thu">
        <td>
          <span class="day">Thursday </span>
          <span class="val">
            <% if (business.thu_from == 'CLOSED' or business.thu_from == 'Closed' or business.thu_from.blank? or business.thu_to == 'Closed' or business.thu_to.blank?) %>
              <span class="border_time" id="Thu" style="position: relative;left: -20px;">
                Closed
              </span>
            <% else %>
              <span class="border_time" id="thu">
                <%= business.thu_from.split(/[:]/).first  %>
                <sup class="time_mi"><%= business.thu_from.split(/[: am pm AM PM]/).last %></sup>
              </span>
              <sup><%= business.thu_from.scan(/\d+|\D+/).last  %></sup>
              <span class="border_time" id="Thu">
                <%= business.thu_to.split(/[:]/).first  %>
                <sup class="time_mi"><%= business.thu_to.split(/[: am pm AM PM]/).last  %></sup>
              </span>
              <sup id="Thu_to"><%= business.thu_to.scan(/\d+|\D+/).last  %></sup>
            <% end %>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <table cellspacing="2" cellpadding="8" style="font-size: 14px;font-weight: bold;">
    <tbody>
      <tr class="Fri">
        <td>
          <span class="day">Friday </span>
          <span class="val">
            <% if (business.fri_from == 'CLOSED' or business.fri_from == 'Closed' or business.fri_from.blank? or business.fri_to == 'Closed'  or business.fri_to.blank?) %>
              <span class="border_time" id="Fri" style="position: relative;left: -20px;">
                Closed
              </span>
            <% else %>
              <span class="border_time" id="fri">
                <%= business.fri_from.split(/[:]/).first  %>
                <sup class="time_mi"><%= business.fri_from.split(/[: am pm AM PM]/).last %></sup>
              </span>
              <sup><%= business.fri_from.scan(/\d+|\D+/).last  %></sup>
              <span class="border_time" id="Fri">
                <%= business.fri_to.split(/[:]/).first  %>
                <sup class="time_mi"><%= business.fri_to.split(/[: am pm AM PM]/).last  %></sup>
              </span>
              <sup id="Fri_to"><%= business.fri_to.scan(/\d+|\D+/).last  %></sup>
            <% end %>
          </span>
        </td>
      </tr>
      <tr class="Sat">
        <td>
          <span class="day">Saturday </span>
          <span class="val">
            <% if (business.sat_from == 'CLOSED' or business.sat_from == 'Closed' or business.sat_from.blank? or business.sat_to == 'Closed' or business.sat_to.blank?) %>
              <span class="border_time" id="Sat" style="position: relative;left: -20px;">
                Closed
              </span>
            <% else %>
              <span class="border_time" id="sat">
                <%= business.sat_from.split(/[:]/).first  %>
                <sup class="time_mi"><%= business.sat_from.split(/[: am pm AM PM]/).last %></sup>
              </span>
              <sup><%= business.sat_from.scan(/\d+|\D+/).last  %></sup>
              <span class="border_time" id="Sat">
                <%= business.sat_to.split(/[:]/).first  %>
                <sup class="time_mi"><%= business.sat_to.split(/[: am pm AM PM]/).last  %></sup>
              </span>
              <sup id="Sat_to"><%= business.sat_to.scan(/\d+|\D+/).last  %></sup>
            <% end %>
          </span>
        </td>
      </tr>
      <tr class="Sun">
        <td>
          <span class="day">Sunday </span>
          <span class="val">
            <% if (business.sun_from == 'CLOSED' or business.sun_from == 'Closed' or business.sun_from.blank? or business.sun_to == 'Closed' or business.sun_to.blank?) %>
              <span class="border_time" id="Sun" style="position: relative;left: -20px;">
                Closed
              </span>
            <% else %>
              <span class="border_time" id="sun">
                <%= business.sun_from.split(/[:]/).first  %>
                <sup class="time_mi"><%= business.sun_from.split(/[: am pm AM PM]/).last %></sup>
              </span>
              <sup><%= business.sun_from.scan(/\d+|\D+/).last  %></sup>
              <span class="border_time" id="Sun">
                <%= business.sun_to.split(/[:]/).first  %>
                <sup class="time_mi"><%= business.sun_to.split(/[: am pm AM PM]/).last  %></sup>
              </span>
              <sup id="Sun_to"><%= business.sun_to.scan(/\d+|\D+/).last  %></sup>
            <% end %>
          </span>
        </td>
      </tr>
      <% if business.url.present? %>
        <tr class="todaya" id="website" onclick="window.open('<%= url_with_protocol(business.url) %>', '_blank')">
          <td style="text-align: center;font-family: House Slant;font-size: 18px;cursor: pointer;font-weight: normal;">
            <%= "WEBSITE" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>