<div class="con-header" style="<%= current_admin ? 'margin-bottom: -30px;' : 'margin-bottom: 15px;'%>">
  <div class="headewrap">
    <div class="logo">
      <%= current_admin ? (link_to image_tag("/assets/when-image-open.png"), imports_path) : (link_to image_tag("/assets/when-image-open.png"), "/") %>
      <%= image_tag("/assets/auto-service-bg.png", :style => 'position: relative;top: 173px;', :id => 'ssss') %>
    </div>
    <%= render :partial => 'businesses/search' %>
    <% if @spelling_suggestion %>
      <div style=" float:left; text-align:center; margin-left:265px; margin-top:20px;">
        Did you mean:
        <%=link_to @spelling_suggestion, search_businesses_path(:company_name => @spelling_suggestion, :city => session[:city]) %>
      </div>
    <% else %>
      <div class="firstResult">
        <% for business in @ab_business_databases %>
          <div class="closed-auto-service-para">
            <div class="location" style="top: -10px;position: relative; min-height: 165px; font-family:'Arial Black'">
              <div id="0" class="primary_hider" style="padding:0 10px; text-align: center;">
                <div id="main_id0">
                  <div class="spacedout1">
                    <div class="loc_name"><%= business.company_name %></div>
                    <%= business.address %>
                    <br />
                    <%= business.city %>, <%= business.state %>
                    <br />
                    <div class="primephone"><%= number_to_phone(business.phone) %></div>
                    <br />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hand-icon">
            <%= image_tag("/assets/like-open.png", :width => '44', :height => '17') %>
          </div>
          <% if (business.status != 'pending' and business.status != 'rejected') and !(business.mon_from.blank? and business.tue_from.blank? and business.wed_from.blank? and business.thu_from.blank? and business.fri_from.blank? and business.sat_from.blank? and business.sun_from.blank?) %>
            <div class="red-rib" style="margin-top:27px;">
              <div class="closeOpenLogo" style="display: block;">
                <div id="image_src" style="display: block;"></div>
                <div id="message" style="display: block;padding-top: 9px;">
                  <%= image_tag("/assets/closesin.png") %>
                </div>
                <div id="phone" style="display:none;">905-507-1147</div>
              </div>
              <div class="clockDiv" id="clockDiv">
                <div id="time_left" class="clockStyle"></div>
                <div id="noDayss_<%= Time.zone.now.strftime("%a") %>" style="width:229px;display: none;color: #FFFFFF;font-weight: bold;"></div>
                <div id="noDays_<%= Time.zone.now.strftime("%a") %>" style="width:229px;display: none;color: #FFFFFF;font-weight: bold;">s</div>
              </div>
              <div id="twentyfour" class="twentyfour" style="text-align: center; width: 534px; display: none;">
                <%= image_tag("/assets/247.png") %>
              </div>
            </div>
            <div class="scheduleDiv">
              <div id="schedule0">
                <table cellspacing="2" cellpadding="8" style="font-size: 14px;font-weight: bold;">
                  <tbody>
                    <tr class="Mon">
                      <td>
                        <span class="day">Monday </span>
                        <span class="val">
                          <% if (business.mon_from == 'CLOSED' or business.mon_from == 'Closed' or business.mon_from.blank? or business.mon_to == 'Closed' or business.mon_to.blank?) %>
                            <span class="border_time" id="Mon" style="position: relative;left: -20px;">
                              Closed
                            </span>
                          <% else %>
                            <span class="border_time" id="mon">
                              <%= business.mon_from.split(/[am pm :]/).first  %>
                              <sup class="time_mi"><%= business.mon_from.split(/[: am pm]/).last %></sup>
                            </span>
                            &nbsp;<sup><%= business.mon_from.scan(/\d+|\D+/).last  %></sup>
                            <span class="border_time" id="Mon">
                              <%= business.mon_to.split(/[am pm :]/).first  %>
                              <sup class="time_mi"><%= business.mon_to.split(/[: am pm]/).last  %></sup>
                            </span>
                            &nbsp;<sup id="Mon_to"><%= business.mon_to.scan(/\d+|\D+/).last  %></sup>
                          <% end %>
                        </span>
                      </td>
                    </tr>
                    <tr class="Tue">
                      <td>
                        <span class="day">Tuesday </span>
                        <span class="val">
                          <% if (business.tue_from == 'CLOSED' or business.tue_from == 'Closed' or business.tue_from.blank? or business.tue_to == 'Closed' or business.tue_to.blank?) %>
                            <span class="border_time" id="Tue" style="position: relative;left: -20px;">
                              Closed
                            </span>
                          <% else %>
                            <span class="border_time" id="tue">
                              <%= business.tue_from.split(/[am pm :]/).first  %>
                              <sup class="time_mi"><%= business.tue_from.split(/[: am pm]/).last %></sup>
                            </span>
                            &nbsp;<sup><%= business.tue_from.scan(/\d+|\D+/).last  %></sup>
                            <span class="border_time" id="Tue">
                              <%= business.tue_to.split(/[am pm :]/).first  %>
                              <sup class="time_mi"><%= business.tue_to.split(/[: am pm]/).last  %></sup>
                            </span>
                            &nbsp;<sup id="Tue_to"><%= business.tue_to.scan(/\d+|\D+/).last  %></sup>
                          <% end %>
                        </span>
                      </td>
                    </tr>
                    <tr class="Wed">
                      <td>
                        <span class="day">Wednesday </span>
                        <span class="val">
                          <% if (business.wed_from == 'CLOSED' or business.wed_from == 'Closed' or business.wed_from.blank? or business.wed_to == 'Closed'  or business.wed_to.blank?) %>
                            <span class="border_time" id="Wed" style="position: relative;left: -20px;">
                              Closed
                            </span>
                          <% else %>
                            <span class="border_time" id="wed">
                              <%= business.wed_from.split(/[am pm :]/).first  %>
                              <sup class="time_mi"><%= business.wed_from.split(/[: am pm]/).last %></sup>
                            </span>
                            &nbsp;<sup><%= business.wed_from.scan(/\d+|\D+/).last  %></sup>
                            <span class="border_time" id="Wed">
                              <%= business.wed_to.split(/[am pm :]/).first  %>
                              <sup class="time_mi"><%= business.wed_to.split(/[: am pm]/).last  %></sup>
                            </span>
                            &nbsp;<sup id="Wed_to"><%= business.wed_to.scan(/\d+|\D+/).last  %></sup>
                          <% end %>
                        </span>
                      </td>
                    </tr>
                    <tr class="Thu">
                      <td>
                        <span class="day">Thursday </span>
                        <span class="val">
                          <% if (business.thu_from == 'CLOSED' or business.thu_from == 'Closed' or business.thu_from.blank? or business.thu_to == 'Closed' or business.thu_to.blank?) %>
                            <span class="border_time" id="Thu" style="position: relative;left: -20px;">
                              Closed
                            </span>
                          <% else %>
                            <span class="border_time" id="thu">
                              <%= business.thu_from.split(/[am pm :]/).first  %>
                              <sup class="time_mi"><%= business.thu_from.split(/[: am pm]/).last %></sup>
                            </span>
                            &nbsp;<sup><%= business.thu_from.scan(/\d+|\D+/).last  %></sup>
                            <span class="border_time" id="Thu">
                              <%= business.thu_to.split(/[am pm :]/).first  %>
                              <sup class="time_mi"><%= business.thu_to.split(/[: am pm]/).last  %></sup>
                            </span>
                            &nbsp;<sup id="Thu_to"><%= business.thu_to.scan(/\d+|\D+/).last  %></sup>
                          <% end %>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table cellspacing="2" cellpadding="8" style="font-size: 14px;font-weight: bold;">
                  <tbody>
                    <tr class="Fri">
                      <td>
                        <span class="day">Friday </span>
                        <span class="val">
                          <% if (business.fri_from == 'CLOSED' or business.fri_from == 'Closed' or business.fri_from.blank? or business.fri_to == 'Closed'  or business.fri_to.blank?) %>
                            <span class="border_time" id="Fri" style="position: relative;left: -20px;">
                              Closed
                            </span>
                          <% else %>
                            <span class="border_time" id="fri">
                              <%= business.fri_from.split(/[am pm :]/).first  %>
                              <sup class="time_mi"><%= business.fri_from.split(/[: am pm]/).last %></sup>
                            </span>
                            &nbsp;<sup><%= business.fri_from.scan(/\d+|\D+/).last  %></sup>
                            <span class="border_time" id="Fri">
                              <%= business.fri_to.split(/[am pm :]/).first  %>
                              <sup class="time_mi"><%= business.fri_to.split(/[: am pm]/).last  %></sup>
                            </span>
                            &nbsp;<sup id="Fri_to"><%= business.fri_to.scan(/\d+|\D+/).last  %></sup>
                          <% end %>
                        </span>
                      </td>
                    </tr>
                    <tr class="Sat">
                      <td>
                        <span class="day">Saturday </span>
                        <span class="val">
                          <% if (business.sat_from == 'CLOSED' or business.sat_from == 'Closed' or business.sat_from.blank? or business.sat_to == 'Closed' or business.sat_to.blank?) %>
                            <span class="border_time" id="Sat" style="position: relative;left: -20px;">
                              Closed
                            </span>
                          <% else %>
                            <span class="border_time" id="sat">
                              <%= business.sat_from.split(/[am pm :]/).first  %>
                              <sup class="time_mi"><%= business.sat_from.split(/[: am pm]/).last %></sup>
                            </span>
                            &nbsp;<sup><%= business.sat_from.scan(/\d+|\D+/).last  %></sup>
                            <span class="border_time" id="Sat">
                              <%= business.sat_to.split(/[am pm :]/).first  %>
                              <sup class="time_mi"><%= business.sat_to.split(/[: am pm]/).last  %></sup>
                            </span>
                            &nbsp;<sup id="Sat_to"><%= business.sat_to.scan(/\d+|\D+/).last  %></sup>
                          <% end %>
                        </span>
                      </td>
                    </tr>
                    <tr class="Sun">
                      <td>
                        <span class="day">Sunday </span>
                        <span class="val">
                          <% if (business.sun_from == 'CLOSED' or business.sun_from == 'Closed' or business.sun_from.blank? or business.sun_to == 'Closed' or business.sun_to.blank?) %>
                            <span class="border_time" id="Sun" style="position: relative;left: -20px;">
                              Closed
                            </span>
                          <% else %>
                            <span class="border_time" id="sun">
                              <%= business.sun_from.split(/[am pm :]/).first  %>
                              <sup class="time_mi"><%= business.sun_from.split(/[: am pm]/).last %></sup>
                            </span>
                            &nbsp;<sup><%= business.sun_from.scan(/\d+|\D+/).last  %></sup>
                            <span class="border_time" id="Sun">
                              <%= business.sun_to.split(/[am pm :]/).first  %>
                              <sup class="time_mi"><%= business.sun_to.split(/[: am pm]/).last  %></sup>
                            </span>
                            &nbsp;<sup id="Sun_to"><%= business.sun_to.scan(/\d+|\D+/).last  %></sup>
                          <% end %>
                        </span>
                      </td>
                    </tr>
                    <% if business.url.present? %>
                      <tr class="todaya" id="website" onclick="window.open('<%= url_with_protocol(business.url) %>', '_blank')">
                        <td style="text-align: center;font-family: House Slant;font-size: 18px;cursor: pointer;font-weight: normal;">
                          <%= "WEBSITE" %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <div id="schedule1" style="display: none;">
              </div>
              <div style="clear:both;"></div>
            </div>
            <%= render :partial => 'script', :locals => {:business => business} %>
          <% else %>
            <% if business.phone.present? %>
              <div class="red-rib" style="margin-top:34px;margin-left: 40px;">
                <div class="closeOpenLogo" style="display: block;">
                  <div id="phone" style="display: block;"><%= number_to_phone(business.phone) %></div>
                </div>
              </div>
            <% else %>
              <div class="red-ribs" style="margin-top:50px;margin-left: 40px;">
                <div class="closeOpenLogo" style="display: block;">
                </div>
              </div>
            <% end %>
            <script>
                        $(document).ready(function() {
                          $('body').removeClass('open').addClass('nohour');
                          $(".logo a img").attr('src', "/assets/when-image-open.png");
                          $("#ssss").attr('src', "/assets/no_hour.png");
                          $("#ssss").css({top: 173});
                          $(".location").css({top: 10});
                          $(".hand-icon img").attr('src', "/assets/like-nohour.png");
                          $(".hand-icon").css('padding-top', '145px');
                        })
            </script>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div style="clear: both;"></div>
    <% if !@spelling_suggestion %>
      <% if current_admin %>
        <div id="business_edit1"><%= image_tag("/assets/Edit Button.png", :border=>'0', :width=>"261", :height=>"54") %></div><br />
        <div id="business_edit"><%= link_to "Click here to delete this listing", business_path(business), :method => :delete, :confirm => "Are you sure", :style => 'text-decoration: none;color: white;font-size: 14px;' %></div>
      <% else %>
        <% if (business.mon_from.blank? and business.tue_from.blank? and business.wed_from.blank? and business.thu_from.blank? and business.fri_from.blank? and business.sat_from.blank? and business.sun_from.blank?) %>
          <div id="business_edit1" style="margin-bottom: -40px;"><%= image_tag("/assets/Edit Button.png", :border=>'0', :width=>"261", :height=>"54") %></div>
        <% end %>
      <% end %>
      <script>
        $('#business_edit1').click(function() {
          window.location.href = '<%= edit_business_path(business) %>';
        });
      </script>
    <% end %>
  </div>
</div>
<% if !@spelling_suggestion %>
  <div id="PageContainer">
    <div class="orange">
      <div class="titles">
        <p class="more">Select a Location</p>
        <p style="position: relative;left: 100px;">Open Similar Businesses</p>
      </div>
    </div>
    <div class="mainContainer" style="margin-top:10px;clear:both; ">
      <div class="searchResults">
        <div class="otherResultsContainer" style="height:532;overflow:hidden;width:240px;">
          <div class="onlyResults">
            <%= render :partial => 'location' %>
          </div>
        </div>
        <div id="category" style="float:right;position:relative;width:700px; padding-right:40px;">
          <%= render :partial => 'category' %>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
  </div>
<% end %>