<div class="con-header" style="<%= current_admin ? 'margin-bottom: -30px;' : 'margin-bottom: 15px;'%>">
  <div class="headewrap">
    <div class="logo">
      <%= current_admin ? (link_to image_tag("/assets/when-image-open.png"), imports_path) : (link_to image_tag("/assets/when-image-open.png"), "/") %>
      <%= image_tag("/assets/auto-service-bg.png", :style => 'position: relative;top: 173px;', :id => 'ssss') %>
    </div>
    <%= render :partial => 'businesses/search' %>
    <% if @spelling_suggestion %>
      <div style=" float:left; text-align:center; margin-left:265px; margin-top:20px;">
        Did you mean:
        <%=link_to @spelling_suggestion, search_businesses_path(:company_name => @spelling_suggestion, :city => session[:city]) %>
      </div>
    <% else %>
      <div class="firstResult">
        <% for business in @ab_business_databases %>
          <div class="closed-auto-service-para">
            <div class="location" style="top: -10px;position: relative; min-height: 165px; font-family:'Arial Black'">
              <div id="0" class="primary_hider" style="padding:0 10px; text-align: center;">
                <div id="main_id0">
                  <div class="spacedout1">
                    <div class="loc_name"><%= business.company_name %></div>
                    <%= business.address %>
                    <br />
                    <%= business.city %>, <%= business.state %>
                    <br />
                    <div class="primephone"><%= number_to_phone(business.phone) %></div>
                    <br />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hand-icon">
            <%= image_tag("/assets/like-open.png", :width => '44', :height => '17') %>
          </div>
          <% if (business.status != 'pending' and business.status != 'rejected') and !(business.mon_from.blank? and business.tue_from.blank? and business.wed_from.blank? and business.thu_from.blank? and business.fri_from.blank? and business.sat_from.blank? and business.sun_from.blank?) %>
            <span id='holiday_hours'>    
              Holiday hours may vary.
            </span>    
            <div class="red-rib" style="margin-top:5px;">
              <div class="closeOpenLogo" style="display: block;">
                <div id="image_src" style="display: block;"></div>
                <div id="message" style="display: block;padding-top: 9px;">
                  <%= image_tag("/assets/closesin.png") %>
                </div>
                <div id="phone" style="display:none;">905-507-1147</div>
              </div>
              <div class="clockDiv" id="clockDiv">
                <div id="time_left" class="clockStyle"></div>
                <div id="noDayss_<%= Time.zone.now.strftime("%a") %>" style="width:229px;display: none;color: #FFFFFF;font-weight: bold;"></div>
                <div id="noDays_<%= Time.zone.now.strftime("%a") %>" style="width:229px;display: none;color: #FFFFFF;font-weight: bold;">s</div>
              </div>
              <div id="twentyfour" class="twentyfour" style="display: none;margin-top: 12px;">
                <%= image_tag("/assets/247.png") %>
              </div>
            </div>
            <div class="scheduleDiv">
              <%= render :partial => 'timing', :locals => {:business => business} %>
              <div id="schedule1" style="display: none;">
              </div>
              <div style="clear:both;"></div>
            </div>
            <%= render :partial => 'script', :locals => {:business => business} %>
          <% else %>
            <% if business.phone.present? %>
              <div class="red-rib" style="margin-top:34px;margin-left: 40px;">
                <div class="closeOpenLogo" style="display: block;">
                  <div id="phone" style="display: block;"><%= number_to_phone(business.phone) %></div>
                </div>
              </div>
            <% else %>
              <div class="red-ribs" style="margin-top:50px;margin-left: 40px;">
                <div class="closeOpenLogo" style="display: block;">
                </div>
              </div>
            <% end %>
            <script>
              $(document).ready(function() {
                $('body').removeClass('open').addClass('nohour');
                $(".logo a img").attr('src', "/assets/when-image-open.png");
                $("#ssss").attr('src', "/assets/no_hour.png");
                $("#ssss").css({top: 173});
                $(".location").css({top: 10});
                $(".hand-icon img").attr('src', "/assets/like-nohour.png");
                $(".hand-icon").css('padding-top', '145px');
              })
            </script>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div style="clear: both;"></div>
    <% if !@spelling_suggestion %>
      <% if current_admin %>
        <div id="business_edit1"><%= image_tag("/assets/Edit Button.png", :border=>'0', :width=>"261", :height=>"54") %></div><br />
        <div id="business_edit"><%= link_to "Click here to delete this listing", business_path(business), :method => :delete, :confirm => "Are you sure", :id => 'business_delete' %></div>
      <% else %>
        <% if (business.mon_from.blank? and business.tue_from.blank? and business.wed_from.blank? and business.thu_from.blank? and business.fri_from.blank? and business.sat_from.blank? and business.sun_from.blank?) %>
          <div id="business_edit1" style="margin-bottom: -40px;"><%= image_tag("/assets/Edit Button.png", :border=>'0', :width=>"261", :height=>"54") %></div>
        <% end %>
      <% end %>
      <script>
        $('#business_edit1').click(function() {
          window.location.href = '<%= edit_business_path(business) %>';
        });
      </script>
    <% end %>
  </div>
</div>
<% if !@spelling_suggestion %>
  <div id="PageContainer">
    <div class="orange">
      <div class="titles">
        <p class="more">Select a Location</p>
        <p style="position: relative;left: 100px;">Open Similar Businesses</p>
      </div>
    </div>
    <div class="mainContainer" style="margin-top:10px;clear:both; ">
      <div class="searchResults">
        <div class="otherResultsContainer" style="height:650px;overflow:hidden;width:240px;">
          <div class="onlyResults">
            <%= render :partial => 'location' %>
          </div>
        </div>
        <div id="category" style="float:right;position:relative;width:700px;">
          <%= render :partial => 'category' %>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
  </div>
<% end %>