<div class="search-part">
  <div id="resss" style="float:left; padding-left: 80px;">
    <form id="cityForm" method="post">
      <input id="city_stater" class="city_state" value="<%= session[:city] %>, <%= session[:state] %>" onblur="onBlur(this)" onfocus="onFocus(this)" type="text"/>
    </form>
    <div id="ajaxcity" style="display: none;overflow: auto;max-height: 200px;"></div>
  </div>
  <div class="searchContainer">
    <%= form_for(:business, :url => search_businesses_path, :html => {:method => "GET", :id => "searchForm",:autocomplete => "off"}) do |f| %>
      <table style="margin: auto;">
        <tbody>
          <tr>
            <td class="home-search">
              <%= f.text_field :name,:class=>"textField",:id => "keywords", :value => 'Enter business name',:onblur => "onBlur(this)", :onfocus => "onFocus(this)",:size => "60px", :style=>"color:#aaa;margin:0px -10px 0px 0px;top: 2px;" %>
              <button type="submit" style="background: none; border: none;float: right;top: -5px;position: relative;"><%= image_tag("/assets/search_icon.png", :class => 'search-icon') %></button>
            </td>
          </tr>
          <tr>
            <td>
              <div id="ajaxresults" style="display:none;height: 200px;overflow: auto;"></div>
            </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<%= render :partial => 'businesses/geo_plugin' %>