<div class="search-part">
  <div id="resss" style="float:left; padding-left: 80px;">
    <form id="cityForm" method="post">
      <input id="city_stater" class="city_state" value="<%= session[:city] %>, <%= session[:state] %>" onblur="onBlur(this)" onfocus="onFocus(this)" type="text"/>
    </form>
    <div id="ajaxcity" style="display: none;overflow: auto;max-height: 200px;"></div>
  </div>
  <div class="searchContainer">
    <%= form_tag search_businesses_path, :method => :get, :id => "searchForm",:autocomplete => "off" do  %>
      <table style="margin: auto;">
        <tbody>
          <tr>
            <td class="home-search">
              <%= text_field_tag :company_name, "",:class=>"textField",:id => "keywords", :placeholder => 'Enter business name',:onblur => "onBlur(this)", :onfocus => "onFocus(this)",:size => "60px", :style=>"color: #707070;margin:0px -10px 0px 0px;top: 2px;" %>
              <button id="sub" style="background: none; border: none;cursor: pointer;float: right;position: relative;top: 6px;"><%= image_tag("/assets/search_icon.png", :class => 'search-icon', :style => 'top: 1px;') %></button>
            </td>
          </tr>
          <tr>
            <td>
              <div id="ajaxresults" style="display:none;height: 200px;overflow: auto;"></div>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<%= render :partial => 'businesses/geo_plugin' if Rails.env == "production" %>
<script>
        $("#sub").click(function() {
          if ($("#keywords").val() == '') {
            alert("Select Business")
            return false;
          } else {
            $("#searchForm").submit();
          }
        });
</script>