<div class="innerContainer" style="margin: 0 auto; min-height: 940px; width: 980px;padding-top: 0px;">
  <div id="ContactContainer1">
    <div class="abtcon" style="width: 550px;position: relative;float: left;left: 75px;">
      <h1 class="page-title1" style="position: relative;left: -15px;"><%= image_tag("/assets/Contact_us_text.png") %></h1>
      <% @contact.errors.full_messages.each do |msg| %>
        <ul>
          <li style = 'color: red;'>
            <%= msg %>
          </li>
        </ul>
      <% end %>
      <%= form_for @contact, :url =>  contact_path(@contact), :html => {:id => "ContactForm1"} do |f| %>
        <span>Your Name:</span>
        <br/>
        <%= f.text_field :name, :id => 'contact', :size => '50' %>
        <br/>
        <br/>
        <span>Your Email:</span>
        <br/>
        <%= f.email_field :email, :id => 'contact', :size => '50' %>
        <br/>
        <br/>
        <span>Your Message:</span>
        <br/>
        <%= f.text_area :message, :id => 'contact', :rows => '5', :cols => '57' %>
        <br/>
        <br/>
        <button type="submit" value="Save" style="background: none; border: none;"><%=  image_tag("/assets/Send_message_button.png", :border=>'0', :width=>"275", :height=>"54") %></button>
      <% end %>
      <div style="position: relative;top: 15px;">
        <%= link_to image_tag("/assets/g.jpg"), "https://plus.google.com/b/118180764312183666395/118180764312183666395/posts", :target => "_blank" %>
        <%= link_to image_tag("/assets/in.jpg"), "https://www.linkedin.com/", :target => "_blank" %>
        <%= link_to image_tag("/assets/t.jpg"), "https://twitter.com/WhenisitOpen", :target => "_blank" %>
        <%= link_to image_tag("/assets/f.jpg"), "http://www.facebook.com/whenisitopen", :target => "_blank" %>
      </div>
    </div>
    <div style="float: right;left: 90px;position: relative;top: 130px;">
      <%= image_tag("/assets/contact-hands.png") %>
    </div>
  </div>
</div>