<div class="innerContainer" style="margin: 0 auto; min-height: 915px; width: 980px;padding-top: 0px;">
  <div id="ContactContainer1">
    <div class="abtcon" style="width: 550px;position: relative;left: -170px;">
      <h1 class="page-title1" style="color: #007D8F;">Contact us around the clock.</h1>
      <% @contact.errors.full_messages.each do |msg| %>
        <ul>
          <li style = 'color: red;'>
            <%= msg %>
          </li>
        </ul>
      <% end %>
      <%= form_for @contact, :url =>  post_contact_path(@contact), :html => {:id => "ContactForm1"} do |f| %>
        <span style="color: #007D8F;">Your Name:</span>
        <br/>
        <%= f.text_field :name, :class => "name", :size => "20" %>
        <br/>
        <br/>
        <span style="color: #007D8F;">Your Email:</span>
        <br/>
        <%= f.email_field :email, :class => 'email', :size => '40' %>
        <br/>
        <br/>
        <span style="color: #007D8F;">Your Message:</span>
        <br/>
        <%= f.text_area :message, :class => 'msg', :rows => '5', :cols => '50', :style => 'resize: none;'%>
        <br/>
        <br/>
        <button type="submit" value="Save" style="background: none; border: none;"><%=  image_tag("/assets/Send_message_button.png", :border=>'0', :width=>"275", :height=>"54") %></button>
      <% end %>
      <div style="position: relative;top: 15px;">
        <%= link_to image_tag("/assets/g.jpg", :width=>"77", :height=>"84"), "http://plus.google.com/" %>
        <%= link_to image_tag("/assets/in.jpg", :width=>"77", :height=>"84"), "https://www.linkedin.com/" %>
        <%= link_to image_tag("/assets/t.jpg", :width=>"77", :height=>"84"), "https://twitter.com/WhenisitOpen" %>
        <%= link_to image_tag("/assets/f.jpg", :width=>"77", :height=>"84"), "http://www.facebook.com/whenisitopen" %>
      </div>
    </div>
    <div style="float: right;left: 90px;position: relative;top: -465px;">
      <%= image_tag("/assets/contact-hands.png") %>
    </div>
  </div>
</div>