<ul>
  <li>
    <%= link_to "Add a Listing", new_business_path %>
  </li>
  <li>
    <%= link_to "About Us", aboutus_path %>
  </li>
  <li>
    <%= link_to "Contact Us", contactus_path %>
  </li>
  <li>
    <%= link_to "Terms and Conditions", terms_and_conditions_path %>
  </li>
  <li>
    <%= Time.zone.name %>
  </li>
</ul>