<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= @title %></title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <%= stylesheet_link_tag 'application','contt', :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body class="cont">
    <div id="mainPage" style="min-width: 1000px;width: 100%;">
      <div class="top-head">
        <div class="icons">
          <div class="social">
            <table width="239" border="0">
              <tbody>
                <tr>
                  <% if current_admin %>
                    <%= link_to "Logout", destroy_admin_session_path(), :method => :delete %>
                  <% else %>
                    <td width="65">Like us: </td>
                    <td width="39">
                      <%= link_to image_tag("/assets/h-facebook.png", :width => "32", :height => "32"), "http://www.facebook.com/whenisitopen", :target => "_blank" %>
                    </td>
                    <td width="80">Follow us:</td>
                    <td>
                      <%= link_to image_tag("/assets/h-twitter.png", :width => "32", :height => "32"), "https://twitter.com/WhenisitOpen", :target => "_blank" %>
                    </td>
                  <% end %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="con-header">
        <div class="headewrap">
          <div class="logo">
            <%= current_admin ? (link_to image_tag("/assets/about-logo.png",:width => "251", :height => "169"), imports_path) : (link_to image_tag("/assets/about-logo.png",:width => "251", :height => "169"), '/') %>
          </div>
          <%= render :partial => 'businesses/search' %>
        </div>
      </div>
      <%= yield %>
      <div id='footer_page'>
        <%= render :partial => '/layouts/footer' %>
      </div>
    </div>
  </body>
</html>