<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= @title %></title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="icon" href="http://whenisitopen.ca/favicon.ico" type="image/x-icon" />
    <%= stylesheet_link_tag    'style','contt','styleabt', :media => "all" %>
    <%= javascript_include_tag "application", 'autocomplete-rails.js','jquery.the_final_countdown', "/assets/jquery.countdown.js" %>
  </head>
  <body class="cont">
    <div id="mainPage" style="min-width: 1000px;width: 100%;">
      <div class="top-head">
        <div class="icons">
          <div class="social">
            <table width="239" border="0">
              <tbody>
                <tr>
                  <td width="67">Like us: </td>
                  <td width="39">
                    <%= link_to image_tag("/assets/h-facebook.png", :width => "32", :height => "32"), "http://www.facebook.com/whenisitopen", :target => "_blank" %>
                  </td>
                  <td width="79">Follow us:</td>
                  <td>
                    <%= link_to image_tag("/assets/h-twitter.png", :width => "32", :height => "32"), "https://twitter.com/WhenisitOpen", :target => "_blank" %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="con-header">
        <div class="headewrap">
          <div class="logo">
            <%= link_to image_tag("/assets/about-logo.png",:width => "251", :height => "169"), '/' %>
          </div>
          <%= render :partial => 'businesses/search' %>
        </div>
      </div>
      <%= yield %>
      <div class="footer" style="font-size:13px">
        <div class="footer-inner" style="min-width:1000px; margin:0 auto;">
          <div class="copyright">© When is it Open Inc. 2013</div>
          <div class="footer-menu">
            <ul>
              <li>
                <%= link_to "About Us", aboutus_path %>
              </li>
              <li>
                <%= link_to "Contact Us", new_contact_path %>
              </li>
              <li>
                <%= link_to "Terms and Conditions", terms_and_conditions_path, :target => '_blank' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>