<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="icon" href="http://whenisitopen.ca/favicon.ico" type="image/x-icon" />
    <%= stylesheet_link_tag 'style','styleabt','timePicker', :media => "all" %>
    <%= javascript_include_tag "application", 'jquery.autosize.input' %>
    <title>When Is It Open?</title>
  </head>
  <body class="open">
    <div id="main" style="min-height: 100%; position:relative; background-color:#F3F3F3;">
      <div class="top-head">
        <div class="icons">
          <div class="social">
            <table width="239" border="0">
              <tbody>
                <tr>
                  <% if current_admin %>
                    <td><%= link_to "Logout", destroy_admin_session_path(), :method => :delete %></td>
                  <% else %>
                    <td width="65">Like us: </td>
                    <td width="39">
                      <%= link_to image_tag("/assets/h-facebook.png", :width => "32", :height => "32"), "http://www.facebook.com/whenisitopen", :target => "_blank" %>
                    </td>
                    <td width="80">Follow us:</td>
                    <td>
                      <%= link_to image_tag("/assets/h-twitter.png", :width => "32", :height => "32"), "https://twitter.com/WhenisitOpen", :target => "_blank" %>
                    </td>
                  <% end %>
                </tr>
              </tbody>
            </table>
          </div>
          <% if params[:controller] == 'businesses' and (params[:action] == 'search' or params[:action] == 'categorie_search')%>
            <span id="business_comment"><%= image_tag("/assets/comment_business.png", :border => 'none') %></span>
          <%end%>
        </div>
      </div>
      <%= yield %>
      <div class="footer" style="font-size:13px">
        <div class="footer-inner" style="min-width:1000px; margin:0 auto;">
          <div class="copyright">© When is it Open Inc. 2013</div>
          <div class="footer-menu">
            <ul>
              <li>
                <%= link_to "Add a Listing",  new_business_path %>
              </li>
              <li>
                <%= link_to "About Us", aboutus_path %>
              </li>
              <li>
                <%= link_to "Contact Us", new_contact_path %>
              </li>
              <li>
                <%= link_to "Terms and Conditions", terms_and_conditions_path %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<style>
  body.cont {
    background: url("/assets/cont-bg.png") repeat center top;
  }
</style>