<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>When Is It Open?</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="icon" href="http://whenisitopen.ca/favicon.ico" type="image/x-icon" />
    <%= stylesheet_link_tag 'style', :media => "all" %>
    <%= javascript_include_tag "application", 'autocomplete-rails.js' %>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  </head>
  <body class="home">
    <div class="page-wrap">
      <div id="home-mainPage">
        <div class="home-innerContainer">
          <div class="logoContainer" style="min-height: 265px;">
            <%= image_tag("/assets/logo.png", :width => '355') %>
          </div>
          <%= yield %>
        </div>
      </div>
      <div class="footer" style="font-size:13px">
        <div class="footer-inner" style="min-width:1000px; margin:0 auto;">
          <div class="copyright">© When is it Open Inc. 2013</div>
          <div class="footer-menu">
            <ul>
              <li>
                <%= link_to "About Us", aboutus_path %>
              </li>
              <li>
                <%= link_to "Contact Us", new_contact_path %>
              </li>
              <li>
                <%= link_to "Terms and Conditions", terms_and_conditions_path, :target => '_blank' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>