<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>When Is It Open?</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <%= stylesheet_link_tag 'application','style',"jquery.notifyBar", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <% ['notice', 'error', 'warning'].each do |f|%>
      <% if flash[f.to_sym]%>
        <script type="text/javascript" >
          jQuery(function() {
            jQuery.notifyBar({
              cls: "<%= f %>",
              html: "<%=  flash[f.to_sym] %>",
              delay: 5000,
              animationSpeed: "normal"
            });
          });
        </script>
      <%end%>
    <%end%>
  </head>
  <body class="home">
    <div class="page-wrap">
      <div id="home-mainPage">
        <div class="home-innerContainer">
          <div class="logoContainer" style="min-height: 265px;">
            <%= image_tag("/assets/logo.png", :width => '355') %>
          </div>
          <%= yield %>
        </div>
      </div>
      <div id='footer_page'>
        <%= render :partial => '/layouts/footer' %>
      </div>
    </div>
  </body>
</html>